<div class="mx-auto">

  <div class="container">

    <h1>月報一覧</h1>

    <!-- 検索 -->
    <h2>検索条件</h2>

    <table>
      <tr>
        <td>タイトル</td>
        <td><input type="text" value=""></td>
      </tr>
    </table>

    <h2>検索結果</h2>

    <table class="table-bordered search-list">
      <thead>
      <tr class="active">
        <td>ID</td>
        <td>ユーザーID</td>
        <td>タイトル</td>
        <td>内容</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let article of articles">
        <td>{{article.id}}</td>
        <td>{{article.user_id}}</td>
        <td>{{article.title}}</td>
        <td>{{article.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>



</div>
